@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    margin: 0px;
}

div#change_username, section#input_zone {
    border: 5px #ffffff;
}

div#change_username {
    height: 3%;
    display: inline-block;
    background-color: #000000;
}

section#chatroom {
    border: 5px  #ffffff;
    height: 70%;
    overflow: auto;
}

section#input_zone {
    height: 7%;
    text-align: center;
}
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Helvetica', sans-serif;
}

input#message {
    display: inline-block;
}

button#send_message {
    display: inline-block;
}

p.message {
    margin: 0px;
    width: 100%;
    font-size: 2vh;
    font-family: 'Helvetica', sans-serif;
    padding: 1vh;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    background-color: #007bff;
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black; 
    float: left;
}
}